requests
beautifulsoup4
urllib3
websockets
pillow
whois
python-nmap
dnspython
pyOpenSSL
selenium
mechanize
flask
flask-cors
importlib-metadata
aiohttp
tk
# Note: Remember to install 'nmap' separately. On Linux: sudo apt-get install nmap, on macOS: brew install nmap, on Windows: download from https://nmap.org/download.html
