body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.reporting {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.widget {
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.widget.large {
    grid-column: span 2;
}

#worldMap .leaflet-container {
    height: 100%;
    background-color: #000; /* For dark mode map background */
}

h1, h2 {
    color: #333;
}

.canvas {
    width: 100%;
    height: auto;
}

/* Additional styles for dark theme map */
#attacksMap {
    background-color: #333;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .widget.large {
        grid-column: span 1;
    }
}
