<!DOCTYPE html>
<html>
<head>
	<title> Vulnerability Scanner</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  

</head>
<body>
	<header>
		<div class="main">
		<div> class="logo">
			<img src="logo.png">
		</div>
		
		 <ul>
		 <li class="active"><a href="#"><i class="fa fa-home"></i>Home</a></li>
		 <li><a href="#about">About</a></li>
		 <li><a href="#previous">List Previous Scans</a></li>
		 <li><a href="#prevention">Prevention Gesture</a></li>
		 <li><a href="#scan">GogoScan</a></li>
		 <li><a href="#result">Result Scan</a></li>
		 <li><a href="#download">Download</a></li>
		<!-- <li><a href="#"><i class="fa fa-caret-down"></i>Menu<i class="fa fa-caret-down"></i></a>
		 	<div class="sub-menu">
		 		<ul>	 
		 		 <li><a href="#">submenu</a></li>
		 		 <li><a href="#">submenu</a></li>
		 	 </ul>
		 	</div>
		 </li>-->
		</ul>

		 </div>
		 <div class="title">
		 	<h1>Scanner</h1>
		 </div>
		<!-- <div class="button">
		 	<a href="#" class="btn">BUTTON1</a>
		 	<a href="#" class="btn">BUTTON2</a>
		 	<a href="#" class="btn">BUTTON3</a>
		 </div>-->

		 	</header>

</body>
</html>